.profile__overlay {
    background-image: url(../../../images/profile_vector.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    color: #fff;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
}

