.elements__list {
    padding: 0;
    margin: 0;
    display: flex;
    column-gap: 17px;
    row-gap: 18px;
    flex-wrap: wrap;
}

@media screen and (max-width: 1279px) {
    .elements__list {
        justify-content: center;
        row-gap: 20px;
    }    
}