.register__subtitle {
    max-width: 358px;
    max-height: 17px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 50px;
}